streamlit
python-dotenv
pypdf
pdf2image
pytesseract
pillow
langchain
langchain-text-splitters
langchain-community
langchain-chroma
langchain-core
langchain-google-genai
langchain-huggingface
google-generativeai
chromadb
sentence-transformers
transformers
torch